{% extends "app1/padre2.html" %}



{% block titulo %}

<div>
    
    <h1 style="color:rgb(0, 9, 4) ;">
        Ingrese lo que desea buscar:                  
    </h1>
    

    <button style="background-color:black; border-color: forestgreen">
        <a href="{% url 'Buscar Vuelos' %}">Buscar Vuelos</a>
    </button>
    <button style="background-color:black; border-color: forestgreen">
        <a href="{% url 'Buscar Personal' %}">Buscar Personal</a>
    </button>
    <button style="background-color:black; border-color: forestgreen">
        <a href="{% url 'Buscar Pasajeros' %}">Buscar Pasajeros</a>
    </button>
    
</div>

{% endblock %}