{% extends "app1/padre.html" %}



{% block titulo %}

<p>edite datos del vuelo</p>

{% endblock %}


{% block descripcion %}


<form action = "" method="POST"> {% csrf_token %}
            
    <table>
        <p>
            <div>
                <h6>La fecha ingrese como (AAAA-MM-DD)(2021-03-13)</h6>
                <h6>La hora ingrese como (HH:MM)(02:15)</h6>
                {{formulario1.as_table}}
            </div>
        </p>
    </table>

                    
    <input type="submit" value="ENVIAR">

{% endblock %}


