{% extends "app1/padre2.html" %}



{% block titulo %}
<h3>
    <p>Edite datos del vuelo</p>
</h3>

{% endblock %}


{% block descripcion %}


<form action = "" method="POST"> {% csrf_token %}
            
    <table align="center">
        <p>
            <div>
                <h6>La fecha ingrese como (AAAA-MM-DD)(2021-03-13)</h6>
                <h6>La hora ingrese como (HH:MM)(02:15)</h6>
                {{formulario1.as_table}}
            </div>
        </p>
    </table>

                    
    <input type="submit" value="ENVIAR">

{% endblock %}


