{% extends "app1/padre2.html" %}



{% block titulo %}

<h3>
    <p>Edite datos del pasajero</p>
</h3>

{% endblock %}


{% block descripcion %}

<form action = "" method="POST"> {% csrf_token %}
            
    <table align="center" >
        <p>


            <div>
                {{formulario3.as_table}}

            </div>        
            
        </p>
    </table>

                    
    <input type="submit" value="ENVIAR">
                    
</form>


{% endblock %}


