{% extends "app1/padre2.html" %}



{% block titulo %}

<h4>
    Esta página mostrará los pasajeros.
</h4>

{% endblock %}


{% block descripcion %}

<div>
    
    <h5>
        <p>Estás buscando los pasajeros con número de vuelo: {{busqueda_pasa}}</p>
    </h5>

    {% for pasajero in pasajeros %}

        <ul>
            <li>Nombre: {{pasajero.nombre}}</li>
            <li>Apelido: {{pasajero.apellido}}</li>
            <li>Documento: {{pasajero.documento}}</li>
            <li>Numero de vuelo: {{pasajero.id_vuelo}}</li>

            {% if request.user.is_superuser %}

            <button style="background-color:black; border-color: forestgreen">
                <em>
                    <a href="{% url 'EliminaPasajero' pasajero.id_vuelo %}"> Eliminar Pasajero</a>
                </em>
            </button>

            <button style="background-color:black; border-color: forestgreen">
                <em>
                    <a href="{% url 'EditarPasajero' pasajero.id_vuelo %}"> Editar Pasajero</a>
                </em>
            </button>

            {% else %}

            ----------------------------

            {% endif %}

        </ul>
        
    {% endfor %}

</div>

{% if request.user.is_superuser %}

<button style="background-color:black; border-color: forestgreen">
    <em>
        <a href="{% url 'Crear Pasajeros' %}"> Agregar otro Pasajero</a>
    </em>
</button>

{% else %}

{% endif %}



{% endblock %}
