{% extends "app1/padre2.html" %}



{% block titulo %}
<h3 style="color:rgb(0, 9, 4) ;">
Esta página mostrará los pasajeros.
</h3>
{% endblock %}


{% block descripcion %}

<div>

    {% for pa in pasa %}
    
    <ul>

        <li>
            Nombre: {{pa.nombre}}--Apelido: {{pa.apellido}}--Documento: {{pa.documento}}--Numero de vuelo: {{pa.id_vuelo}}
        </li>

        {% if request.user.is_superuser %}

        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EliminaPasajero' pa.id_vuelo %}"> Eliminar Pasajero</a>
            </em>
        </button>

        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EditarPasajero' pa.id_vuelo %}"> Editar Pasajero</a>
            </em>
        </button>

        {% else %}

        ----------------------------

        {% endif %}

    </ul>

    {% endfor %}

</div>

{% if request.user.is_superuser %}

<button style="background-color:black; border-color: forestgreen">
    <em>
        <a href="{% url 'Crear Pasajeros' %}"> Agregar otro Pasajero</a>
    </em>
</button>

{% else %}

{% endif %}




{% endblock %}
