{% extends "app1/padre.html" %}



{% block titulo %}

Esta página mostrará los Pasajeros.

{% endblock %}


{% block descripcion %}

<div>

    {% for pa in pasa %}
    
    <ul>

        <li>
            Nombre: {{pa.nombre}}--Apelido: {{pa.apellido}}--Documento: {{pa.documento}}--Numero de vuelo: {{pa.id_vuelo}}
        </li>
        <button>
            <a href="{% url 'EliminaPasajero' pa.id_vuelo %}"> Eliminar Pasajero</a>
        </button>
        <button>
            <a href="{% url 'EditarPasajero' pa.id_vuelo %}"> Editar Pasajero</a>
        </button>

    </ul>

    {% endfor %}

</div>


<button>
    <a href="{% url 'Crear Pasajeros' %}"> Agregar otro Pasajero</a>
</button>


{% endblock %}
