{% extends "app1/padre.html" %}

{% load static %}


{% block titulo %}

Esta página mostrará el personal.

{% endblock %}


{% block descripcion %}


<div>

    {% for pe in persona %}
    
    <ul>

        <li>        
            Nombre: {{pe.nombre}}--Apellido: {{pe.apellido}}--Profesion: {{pe.profesion}}--Numero de vuelo: {{pe.id_vuelo}}
        </li>
        <button>
            <a href="{% url 'EliminaPersonal' pe.profesion %}"> Eliminar Personal</a>
        </button>
        <button>
            <a href="{% url 'EditarPersonal' pe.profesion %}"> Editar Personal</a>
        </button>

    </ul>

    {% endfor %}

</div>


<button>
    <a href="{% url 'Crear Personal' %}"> Agregar otro Personal</a>
</button>


{% endblock %}