{% extends "app1/padre2.html" %}

{% load static %}


{% block titulo %}
<h3 style="color:rgb(0, 9, 4) ;">
Esta página mostrará el personal.
</h3>
{% endblock %}


{% block descripcion %}


<div>

    {% for pe in persona %}
    
    <ul>

        <li>        
            Nombre: {{pe.nombre}}--Apellido: {{pe.apellido}}--Profesion: {{pe.profesion}}--Numero de vuelo: {{pe.id_vuelo}}
        </li>
        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EliminaPersonal' pe.profesion %}"> Eliminar Personal</a>
            </em>
        </button>

        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EditarPersonal' pe.profesion %}"> Editar Personal</a>
            </em>
        </button>

    </ul>

    {% endfor %}

</div>


<button style="background-color:black; border-color: forestgreen">
    <em>
        <a href="{% url 'Crear Personal' %}"> Agregar otro Personal</a>
    </em>
</button>


{% endblock %}