{% extends "app1/padre.html" %}

{% load static %}


{% block titulo %}

Esta página mostrará el personal.

{% endblock %}


{% block descripcion %}

Hay mucho personal.

<div>

    <p>Estás buscando el personal con profesion: {{busqueda_per}}</p>

    {% for personal in personas %}

        <ul>
            <li>Nombre: {{personal.nombre}}</li>
            <li>Apellido: {{personal.apellido}}</li>
            <li>Profesion: {{personal.profesion}}</li>
            <li>Numero de vuelo: {{personal.id_vuelo}}</li>

            <button>
                <a href="{% url 'EliminaPersonal' personal.profesion %}"> Eliminar Personal</a>
            </button>

            <button>
                <a href="{% url 'EditarPersonal' personal.profesion %}"> Editar Personal</a>
            </button>
            <li>------------------------------------</li>

        </ul>
        
    {% endfor %}

</div>

{% endblock %}