{% extends "app1/padre2.html" %}


{% block titulo %}
<h1 style="color:rgb(0, 0, 0)">
    Sobre nosotros:
</h1>
{% endblock %}


{% block descripcion %}

<h5>Bogarin, Luciano:</h5>
<h6>Mail: <A HREF="mailto:maximo.boga@gmail.com">maximo.boga@gmail.com</A><br>
    Github: <A HREF="https://github.com/Luciano02-web" target="_blank">https://github.com/Luciano02-web</A> <br>
    Estudios: Ingenieria en informatica <br>
    Ingles

</h6>
<h5>Tumbarello, Luis:</h5>
<h6>Mail: <A HREF="mailto:luisdtumbarello@hotmail.com">luisdtumbarello@hotmail.com</A><br>
    linkedin: <A HREF="https://www.linkedin.com/in/luis-david-tumbarello-569b4531/"target="_blank"> https://www.linkedin.com/in/luis-david-tumbarello-569b4531/ </A> <br>
    Github= <A HREF="https://github.com/LuisTumbarello" target="_blank"> https://github.com/LuisTumbarello </A><br>
    Estudios: Logistica  <br>


</h6>
<h5>Giacomelli, Luis:</h5>
<h6>Mail: <A HREF="mailto:giacomelli280@gmail.com">giacomelli280@gmail.com</A><br>
    linkedin: <A HREF="https://www.linkedin.com/in/luis-giacomelli/" target="_blank">https://www.linkedin.com/in/luis-giacomelli/</A>  <br>
    Github= <A HREF="https://github.com/LuisGiacomelli" target="_blank">https://github.com/LuisGiacomelli</A> <br>
    Estudios: Licenciatura en informatica <br>


</h6>




{% endblock %}


