{% extends "app1/padre2.html" %}


{% block titulo %}

<h2 style="color:rgb(0, 9, 4) ;">
Esta página mostrará los vuelos.

</h2>
{% endblock %}


{% block descripcion %}

<div>

    {% for v in fly %}
    
    <ul>

        <li>        
            Numero de vuelo: {{v.id_vuelo}}--Salida: {{v.salida}}--Destino: {{v.destino}}--Dia: {{v.fecha}}--Hora de salida: {{v.hora_de_salida}}
        </li>
        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EliminaVuelo' v.id_vuelo %}">Eliminar Vuelo</a>
            </em>
        </button>
        
        <button style="background-color:black; border-color: forestgreen">
            <em>
                <a href="{% url 'EditaVuelo' v.id_vuelo %}">Editar Vuelo</a>
            </em>
        </button>

    </ul>

    {% endfor %}

</div>


<button style="background-color:black; border-color: forestgreen">
    <em>
        <a href="{% url 'Crear Vuelos' %}"> Agregar otro Vuelo</a>
    </em>
</button>




{% endblock %}