{% extends "app1/padre2.html" %}


{% block titulo %}

<h4>
    Esta página mostrará los vuelos.
</h4>

{% endblock %}


{% block descripcion %}



<div>
    <h5>
        <p>Estas buscando el vuelo con lugar de salida: {{busqueda}}</p>
    </h5>

    {% for vuelo in vuelos %}

        <ul>
            <li>Numero de vuelo: {{vuelo.id_vuelo}}</li>
            <li>Salida: {{vuelo.salida}}</li>
            <li>Destino: {{vuelo.destino}}</li>
            <li>Dia: {{vuelo.fecha}}</li>
            <li>Hora de salida: {{vuelo.hora_de_salida}}</li>

            
            {% if request.user.is_superuser %}

            <button style="background-color:black; border-color: forestgreen">
                <em>
                    <a href="{% url 'EliminaVuelo' vuelo.id_vuelo %}"> Eliminar Vuelo</a>
                </em>
            </button>
            
            <button style="background-color:black; border-color: forestgreen">
                <em>
                    <a href="{% url 'EditaVuelo' vuelo.id_vuelo %}"> Editar Vuelo</a>
                </em>
            </button>

            {% else %}

            ----------------------------

            {% endif %}

        </ul>
        
    {% endfor %}


{% if request.user.is_superuser %}

<button style="background-color:black; border-color: forestgreen">
    <em>
        <a href="{% url 'Crear Vuelos' %}"> Agregar otro Vuelo</a>
    </em>
</button>

{% else %}
    
{% endif %}
    

</div>




{% endblock %}